EMBED_MODEL="sentence-transformers/all-MiniLM-L6-v2"
COLLECTION_NAME="mediassit-vector-db"
QDRANT_PATH="./db/mediassist_qdrant"
DATA_PATH="./data"
# GROQ_MODEL="openai/gpt-oss-120b"
GROQ_MODEL="openai/gpt-oss-20b"
CROSS_ENCODER_MODEL="cross-encoder/ms-marco-MiniLM-L-6-v2"
DATABASE_PATH="./data/db/mediassist.db"
GROQ_KEY=""